@charset "UTF-8";
{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background:#f2f4f8;
    min-height:100vh;
}


.container{
    width:420px;
    background:#fff;
    padding:30px;
    margin:80px auto;
    border-radius:10px;
    box-shadow:0 0 15px rgba(0,0,0,0.1);
}


h2{
    text-align:center;
    margin-bottom:20px;
}


input, select, textarea{
    width:100%;
    padding:10px;
    margin:10px 0 15px;
    border:1px solid #ccc;
    border-radius:5px;
}


button{
    width:100%;
    padding:10px;
    background:#3f51b5;
    color:white;
    border:none;
    border-radius:5px;
    cursor:pointer;
    font-size:16px;
}

button:hover{
    background:#2c3ea8;
}


a{
    text-decoration:none;
    color:#3f51b5;
}

a:hover{
    text-decoration:underline;
}


.navbar{
    background:#3f51b5;
    padding:15px;
    color:white;
}

.navbar a{
    color:white;
    margin-right:20px;
    font-weight:bold;
}


table{
    width:100%;
    border-collapse:collapse;
    margin-top:20px;
    background:white;
}

th, td{
    padding:12px;
    border:1px solid #ddd;
    text-align:center;
}

th{
    background:#3f51b5;
    color:white;
}